[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anirudhna
[access "refs/for/refs/*"]
	read = group user/anirudhna
	push = group user/anirudhna
	label-Code-Review = -2..+2 group user/anirudhna
	label-Verified = -1..+1 group user/anirudhna
	rebase = group user/anirudhna
	removeReviewer = group user/anirudhna
	submit = group user/anirudhna
[access "refs/heads/*"]
	read = group user/anirudhna
	create = group user/anirudhna
	push = +force group user/anirudhna
	pushMerge = group user/anirudhna
[access "refs/tags/*"]
	push = +force group user/anirudhna
	pushTag = group user/anirudhna
	pushSignedTag = group user/anirudhna
